<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Decryptor</title>
    <link rel="stylesheet"
          href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet"
          href="http://fonts.googleapis.com/css?family=Roboto:400,100,500,300italic,500italic,700italic,900,300">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js">
    </script>
    <link rel="stylesheet" href="~/css/style.css">

</head>
<body>


    <main>
        @RenderBody()
    </main>

    <script src="~/js/script.js"></script>
</body>
</html>