@{
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
@model CryptData

<header class="mdl-grid">
    <div class="cat mdl-cell mdl-cell--4-col"> <img src="~/images/PLKelDzI00E.jpg"></div>
    <div class="mdl-cell mdl-cell--4-col">
        <h1 id="logo">Decryptor</h1>
    </div>
    <div class="cat mdl-cell mdl-cell--4-col">
        <img src="~/images/RfaDSANbbT8.jpg">
    </div>
</header>
<article>
    @{
        if (Model == null)
        {
            <form asp-action="Decrypt" method="post" enctype="multipart/form-data">
                <section class="mdl-grid textArea">

                    <textarea asp-for="EncryptedData" placeholder="Введите текст или выберите файл..." class="mdl-cell mdl-cell--12-col  " rows="10" cols="90"></textarea>

                </section>
                <section class="mdl-grid bottomButtons">
                    <input asp-for="Key" placeholder="Введите ключ..." class="mdl-textfield__input mdl-cell mdl-cell--4-col" type="text">
                    <input class="mdl-cell mdl-cell--4-col mdl-button mdl-js-button mdl-button--primary" asp-for="File" type="file" />
                    <button type="submit" class="mdl-cell mdl-cell--4-col mdl-button mdl-js-button mdl-button--accent">Расшифровать</button>
                </section>
            </form>
        }
    }

    @{
        if (Model != null)
        {
            if (Model.DecryptedData != null && Model.EncryptedData != null)
            {
        <section class="mdl-grid">
                <div class="mdl-cell mdl-cell--6-col">
                        <div class="mdl-card card-wide">
                            <div class="mdl-card__title cardTitleWas">
                                <h2 class="mdl-card__title-text">Было</h2>
                            </div>
                            
                            <div class="mdl-card__supporting-text">
                                <p>
                                    
                                    @Model.EncryptedData
                                </p>
                            </div>
                        </div>
                </div>
                <div class="mdl-cell mdl-cell--6-col ">
                    <div class="mdl-card card-wide">
                        <div class="mdl-card__title cardTitleNow">
                            <h2 class="mdl-card__title-text">Стало</h2>
                        </div>
                        
                        <div class="mdl-card__supporting-text">
                            <p>
                                
                                @Model.DecryptedData


                            </p>
                            <a>Сохранить в файл</a>
                        </div>
                    </div>
                </div>
                
        </section>
                
            }
        }

    }

    <a id="goHome" class="mdl-button mdl-js-button mdl-button--accent" asp-action="Index">Домой</a>
</article>

