@{
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
@model CryptData

<header class="mdl-grid">
    <div class="cat mdl-cell mdl-cell--4-col"> <img src="~/images/PLKelDzI00E.jpg"></div>
    <div class="mdl-cell mdl-cell--4-col">
        <h1 id="logo">Decryptor</h1>
    </div>
    <div class="cat mdl-cell mdl-cell--4-col">
        <img src="~/images/RfaDSANbbT8.jpg">
    </div>
</header>
<article>
    
    
            
        
        
    
    
    @{
        if (Model == null)
        {      
        <section class="mdl-grid textArea">
                <div class="container-fluid">
                    <form asp-action="Decrypt" method="post" enctype="multipart/form-data">
                            <div class="form-group">

                                <textarea asp-for="EncryptedData" placeholder="Введите текст или выберите файл..." class="form-control" rows="10" cols="90"></textarea>
                                
                            </div>


                        <div class="form-group">
                            <input asp-for="Key" placeholder="Введите ключ..." class="form-control" type="text">
                           
                        </div>

                        <div class="form-group">

                            <input class="form-control-file" accept=".docx,.txt" asp-for="File" type="file" />
                        </div>
                        <div>
                            <button type="submit" class="mdl-button mdl-js-button mdl-button--accent">Расшифровать</button>
                        </div>
                    </form>
                </div>
        </section>
        }
    }

    @{
        if (Model != null)
        {
            if (Model.DecryptedData != null && Model.EncryptedData != null)
            {
                <section class="mdl-grid">
                    <div class="mdl-cell mdl-cell--6-col">
                        <div class="mdl-card card-wide">
                            <div class="mdl-card__title cardTitleWas">
                                <h2 class="mdl-card__title-text">Было</h2>
                            </div>

                            <div class="mdl-card__supporting-text">
                                <p>

                                    @Model.EncryptedData
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--6-col ">
                        <div class="mdl-card card-wide">
                            <div class="mdl-card__title cardTitleNow">
                                <h2 class="mdl-card__title-text">Стало</h2>
                            </div>

                            <div class="mdl-card__supporting-text">
                                <p>

                                    @Model.DecryptedData


                                </p>
                                <a>Сохранить в файл</a>
                            </div>
                        </div>
                    </div>

                </section>

            }
        }

    }

    <a id="goHome" class="mdl-button mdl-js-button mdl-button--accent" asp-action="Index">Домой</a>
</article>

